@import url(http://fonts.googleapis.com/css?family=Mallanna);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300);





/*------------------------------------공통 요소------------------------------------*/
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html, body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}
img, audio, video, canvas, object, embed {
  max-width: 100%;
  height: auto;
}
object, embed {
  height: 100%;
}
/*li앞의 점 없애기*/
ul, li {
  list-style: none;
}
/*li앞의 점 없애기*/
nav ul {
  list-style: none;
}
img {
  -ms-interpolation-mode: bicubic;
  display: block;
  border: 0;
  clear: left;
}
a {
  color: #555555;
  /*링크 밑줄없애기*/
  text-decoration: none;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0;
}
a, a:active a:focus {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
}
a img {
  border: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
/*html추가 엘리먼트 선언*/
article, aside, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block;
}



html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  overflow-y: auto;
}
body {
  margin: 0 auto;
  overflow: auto;
  background: #fbfaf9;
  color: #555555;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  body {
    padding-bottom: 0;
  }
}


/*-------------드래그-------------*/
::selection {
  background: #4db688;
  color: #fbfaf9;
  opacity: 0.85;
}
::-moz-selection {
  background: #4db688;
  color: #fbfaf9;
  moz-opacity: 0.85;
}



/*-------------본문 감싸기(메뉴부분 제외)-------------*/
.wrap {
  max-width: 1600px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.wrap-inner {
  padding-top: 12%;
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 5680px){
  .wrap-inner {
    padding-top: 150px;
  }
}






.page-load-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.page-load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 300000;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  color: #fd5b5b;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-direction: normal;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: pulse;
  -moz-animation-timing-function: ease-in-out;
}

.page-load .icon-load:before {
  background-image: url('/images/load-icon.svg');;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}















/*------------------------------------상단 탑메뉴------------------------------------*/

/*-------------메뉴 상단 고정-------------*/
header.fixed {
  position: fixed;
  background: #fbfaf9;
  width: 100%;
  max-width: 1600px;
  margin: 0;
  overflow: hidden;
  height: 4.5em;
  z-index: 100;
  opacity: 0.95;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -ms-transition: height 300ms;
  -o-transition: height 300ms;
  transition: height 300ms;
}

@media only screen and (max-width: 1124px) {
  header.fixed {
    /*height: 64px;*/
    padding-top: 0;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  header.fixed {
    height: 4.5em;
    /*padding-top: 1.25em;*/
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) and (orientation: portrait) {
  header.fixed {
    height: 4.5em;
    /*padding-bottom: 0.45em;*/
  }
}



.header-inner {
  /*position: fixed;*/
  width: 100%;
  margin-top: 10px;
  margin-left: -0.9%;
  padding: 0;
  overflow: hidden;
  -webkit-transition: margin 300ms;
  -moz-transition: margin 300ms;
  -ms-transition: margin 300ms;
  -o-transition: margin 300ms;
  transition: margin 300ms;
}
.scrolled .header-inner {
  margin-top: 24px;
  background: #fbfaf9;
}
@media only screen and (max-width: 5660px) and (min-width: 1025px) {
  .scrolled .header-inner {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .scrolled .header-inner {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .scrolled .header-inner {
    margin-top: 0px;
  }
}
.scrolled .header-inner .mobile-menu {
  top: 24px;
}
.scrolled {
  opacity: 0.85;
}



/*-------------메뉴바 관련-------------*/
.topmenu {
  width: 100%;
}
.wrap .topmenu ul {
  text-align:center;
  overflow:hidden;
}
ul .top {
  padding: 30px 0;
}
.wrap .topmenu li {
  display:inline-block;
  padding: 16px 10px;
  vertical-align:middle;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  nav.topmenu {
    width: 100%;
  }
}



.desktop {
  padding-left: 0;
}
ul.desktop li {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #555555;
  display: block;
  text-align: left;
  float: none;
  letter-spacing: 0.15em;
}
/*데스크탑메뉴 사라질때*/
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 763px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}



/*-------------탑메뉴의 라인액션-------------*/
.btn {
  cursor: pointer;
  display: block;
  line-height: 25px;
  margin: 0;
  position: relative;
  letter-spacing: 0.1em;
  width: 98%;

@media(min-width: 600px) {&:nth-of-type(bottom) {margin-right: 2.5em;}
&:nth-of-type(5) {margin-right: 0;}
}
&:hover { text-decoration: none; }
}

.btn-1 {
  border-bottom: 1px solid rgba(93,93,93,225);
  width: 95%;
}
.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border-bottom: 1px solid rgba(93,93,93,225);
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgba(93,93,93,225);
  transition: width 400ms ease-in-out;
  width: 98%;
}
.btn-2:hover:before {
  bottom: auto;
  width: 0;
}










/*------------------------------------모바일 메뉴------------------------------------*/

/*-------------오버레이로 펼쳐지기-------------*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(77, 182, 136, 255);
}
.overlay p {
  margin: 1.15em 0 0 1.15em;
}
.overlay ul {
  width: 90%;
  height: auto;
  padding: 3.5em 5% 0 5%;
  margin: 0 auto;
}

.overlay-close {
  position: absolute;
  top: 0.85em;
  right: 0.55em;
}
.overlay-open .name a {
  position: relative;
  width: 75%;
  z-index: 10000;
  color: #555555;
}
.overlay-open .name a p:first-of-type {
  text-indent: 0;
  margin-top: 0.45em;
}
.overlay-open .name a p:nth-of-type(2) {
  margin-bottom: 4em;
}


/*-------------모바일 메뉴 목록-------------*/
ul.mobile li {
  font-size: 17px;
  line-height: 35px;
  font-family: "Mallanna", sans-serif;
  text-transform: uppercase;
  color: #fbfaf9;
  display: block;
  text-align: left;
  padding: 1% 0 0 5%;
  float: none;
  letter-spacing: 0.15em;
}
ul.mobile li:first-of-type {
  border: 0;
}
ul.mobile li:last-of-type {
  margin-top: 0;
}

ul.mobile li a {
  display: inline-block;
  color: white;
}
ul.mobile li a.active {
  border: 0;
}
ul.mobile li a.close {
  font-size: 16px;
  line-height: 24px;
}
ul.mobile li a:hover {
  border-bottom: none;
}



/*모바일메뉴 하단 저작권표시*/
.mobile-details {
  padding-top: 1.25em;
}
.mobile-details ul li {
  font-family: "Mallanna", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #fafbf9;
  padding: 0 0 0 5%;
}
.mobile-details ul li a {
  color: #fafbf9;
}



/*-------------모바일 로고 나타날때 지정-------------*/
.mobile-logo {
  display: none;
  float: left;
  top: 22.5%;
  left: 6%;
  margin: 0;
}
.mobile-logo:hover {
  border-bottom: none;
}
@media only screen and (max-width: 763px) {
  .mobile-logo {
    display: block;
    opacity: 1 !important;
    position: absolute;
    top: 22.5%;
    left: 6%;
    cursor: pointer;
  }

  .mobile-logo a:visited {
    color: #4db688;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-logo {
    display: block;
    position: absolute;
    top: 22.5%;
    left: 6%;
    cursor: pointer;
  }
  .mobile-logo a:visited {
    color: #4db688;
  }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
  .mobile-logo {
    top: 22.5%;
    left: 6%;
  }
}



/*-------------모바일 메뉴 버튼 나타날때 지정-------------*/
.mobile-menu {
  display: none;
}
.mobile-menu:hover {
  border-bottom: none;
}
@media only screen and (max-width: 763px) {
  .mobile-menu {
    display: block;
    opacity: 1 !important;
    position: absolute;
    top: 35%;
    right: 6%;
    font-size: 25px;
    line-height: 20px;
    color: #4db688;
    text-rendering: geometricPrecision;
    cursor: pointer;
  }

  .mobile-menu a:visited {
    color: #4db688;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-menu {
    display: block;
    position: absolute;
    top: 35%;
    right: 6%;
    font-size: 25px;
    line-height: 20px;
    color: #4db688;
    text-rendering: geometricPrecision;
    cursor: pointer;
  }
  .mobile-menu a:visited {
    color: #4db688;
  }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
  .mobile-menu {
    font-size: 25px;
    line-height: 20px;
    top: 35%;
    right: 6%;
  }
}



/*-------------모바일 메뉴 닫음-------------*/
.icon-close {
  display: block;
  position: relative;
  /*top: 100%;*/
  right: 1em;
  cursor: pointer;
}
.icon-close:hover {
  color: #d7d7d7;
  border-bottom: none;
}
.mobile .icon-close img {
  width: 100%;
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
  .icon-close {
    top: 155%%;
    right: 85%;
  }

  .icon-close:hover {
    color: #d7d7d7;
    border-bottom: none;
  }
}










/*------------------------------------footer 관련------------------------------------*/
footer {
  max-width: 1600px;
  padding-top: 65px;
  padding-bottom: 35px;
  height: 12em;
  overflow: hidden;
  text-align: center;
}

.footer-inner {
  margin: 0 3.5em;
  overflow: hidden;
  position: relative;
  z-index: 2000;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .footer-inner {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .footer-inner {
    margin: 0 1em;
  }
}

footer .info {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  footer {
    height: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin: 2.5em 0 0 0;
    background: #e0e0e0;
  }
}
footer li {
  font-family: 'Mallanna', sans-serif;
  font-size: 14px;
  line-height: 15px;
  list-style: none;
  padding-bottom: 0.25em;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  footer li {
    font-size: 13px;
    line-height: 14px;
  }
}


/*-------------하단 연락처관련-------------*/
.contact {
  margin-right: 0;
}

footer .contact p {
  padding-top: 1.5%;
}
footer .contact a:hover {
  color: #4db688;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .contact {
    width: 100%;
    margin-right: 0;
  }
}










/*------------------------------------1.works 페이지------------------------------------*/

#loading {
	position:fixed;
	width:100%;
	height:100%;
	background-color:#fff;
	z-index:9999;
}
#loading img {
	position:absolute; left:50%; top:50%;
	margin:-30px 0 0 -30px;
	animation:loadAni 1.2s ease-in-out infinite; -webkit-animation:loadAni 1.2s ease-in-out infinite;
}

@keyframes loadAni{
	0% {transform:scale(0.9);}
	50% {transform:scale(1.0);}
	100% {transform:scale(0.9);}
}
@-webkit-keyframes loadAni{
	0% {transform:scale(0.9);}
	50% {transform:scale(1.0);}
	100% {transform:scale(0.9);}
}

.project {
  display:-webkit-box; /* 사파리 및 크롬 호환 */
  display:-moz-box; /* 오페라 호환 */
  display:-ms-flexbox; /* IE10 호환 */
  display:-webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 1%;
}

.project .item .thumnail {
  padding:2%;
}
.project .item .in {
  overflow:hidden;
}
.project .item img {
  width:100%;
  /*padding: 1%;*/
}

@media only screen and (max-width: 3600px) {
  .project .item {
    width: 33.3%;
    /*margin: 0 auto;*/
    overflow: hidden;

  }
  .project .item:last-child {
    width: 33.4%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .project .item {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  .project .item:last-child {
    width: 50%;
    margin: 0;
    float: left;
  }
}

@media only screen and (max-width: 640px) {
  .project .item {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .project .item:last-child {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.mywork {
  max-width: 1280px;
  margin: 0 auto;
}


/*마우스 오버*/
@media only screen and (max-width: 3600px) {
  div.item:hover img {
    transform: scale(1.2);
    transition: 12s transform;
  }
}

@media only screen and (max-width: 1024px) {
  div.item:hover img {
    transform:scale(1.2);
    transition: 12s transform;
  }
}

@media only screen and (max-width: 640px) {
  div.item:hover img {
    transform:scale(1.2);
    transition: 12s transform;
  }
}










/*------------------------------------3.about 페이지------------------------------------*/

/*-------------프로필 부분-------------*/
.profile {
  position: relative;
  text-align:center;
  padding: 20px 0 40px 0;
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  margin: 0 auto;
}
.profile img {
  padding: 10px;
  margin: 0 auto;
}
.profile a:hover {
  color: #4db688;
}
.profile p {
  margin: 20px;
  padding: 1% 5%;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .profile {
    width: 80%px;
    padding: 20px;
  }
}
@media only screen and (max-width: 5600px) {
  .profile {
    padding: 3% 15%;
    margin: 0;
  }
}
@media only screen and (max-width: 889px) {
  .profile {
  ;
    margin: 0;
  }
}
@media only screen and (max-width: 763px) {
  .profile {

    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .profile {
    padding: 20px;
    margin: 0;
  }
}



/*-------------폰트설정-------------*/
.font0, .font1, .font2 {
  font-family: 'Mallanna', sans-serif;
  font-weight: 400;
}
.font0 {
  font-size: 25px;
  color: #4d4d4d;
  line-height: 1.5;
}
.font1 {
  font-size: 22px;
  padding: 10px 30px 30px 30px;
  text-align: center;
  color: #4d4d4d;
}
.font2 {
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-align: center;
}
.font2 .int p {
  width: 85%;
  max-width: 800px;
}



/*-------------스페셜리티 부분-------------*/
.content{
  display:-webkit-box; /* 사파리 및 크롬 호환 */
  display:-moz-box; /* 오페라 호환 */
  display:-ms-flexbox; /* IE10 호환 */
  display:-webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-flow: wrap;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  width: 100%;
  text-align: center;
  padding-top: 0;
  overflow: hidden;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.content .ability {
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 40px;
  display: block;
}
.content .ability img {
  max-width: 280px;
  width: 100%;
  border: 0;
  margin: 0 auto;
}
.spc {
  width: 33.333333%;
}
@media only screen and (max-width: 5800px)and (min-width: 1025px){
  .spc {
    width: 33.333333%%;
  }
  /*어빌리티 첫줄 좌측 라인*/
  .content .ability:nth-child(1) {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  /*어빌리티 둘째줄 좌측 라인*/
  .content .ability:nth-child(4) {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
}
@media only screen and (max-width: 1024px){
  .spc {
    width: 50%%;
  }
}
@media only screen and (max-width: 600px){
  .spc {
    width: 100%;
  }
}










/*------------------------------------4.ylog 페이지------------------------------------*/
.all-round {
  margin: 0 auto;
}
img.logtop {
  width: 100%;
}
h1, h2 {
  font-family: 'Mallanna', sans-serif;
  font-size: 24px;
  line-height: 0;
}
section .entry p {
  font-family: 'Mallanna', sans-serif;
  font-size: 16px;
}
.logset {
  float: left;
  margin: 0 1.5% 1.5% 0;
  width: 66.16667%;
}
.log-entry {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.log-entry .log-entry-single {
  overflow: hidden;
  margin: 6%;
}
@media only screen and (max-width: 1024px) {
  .log-entry .log-entry-single .logset {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 890px) {
  .log-entry .log-entry-single .logset {
    max-width: 100%;
    width: 100%;
  }
}
.text {
  width: 100%;
  overflow: hidden;
  margin-left: 0;
}
.log-entry .text {
  width: calc(32.33333% - 2em);
  float: left;
  margin: 0 0 0 2em;
  overflow: hidden;
  border-top: 1px solid rgba(0,0,0,0.1);
  display: block;
}
@media only screen and (max-width: 1024px) {
  .log-entry .text {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 890px) {
  .log-entry .text {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .log-entry .text {
    width: 100%;
    margin: 0;
  }
}
.log-entry .text .title {
  font-size: 15px;
  font-weight: 400;
}
.log-entry .text .title h2 {
  font-size: 14px;
  line-height: 20px;
  color: #bbb;
  padding-bottom: 2.5em;
}
.log-entry .text .entry p, .log-entry .text .entry h1 {
  font-size: 16px;
  line-height: 24px;
}



